In [118]:
import pandas as pd
import re
import matplotlib.pyplot as plt

from copy import deepcopy

## Количество ожидающих посадки на рейс ⛄ (pass_count)

In [89]:
df_temp = pd.read_excel("05.2022_Пассажиропоток.xlsx")
df_temp.head()

,Дата рейса,Рейс,Вход в чистую зону,Выход на рейс,Терминал,Авиакомпания,Направление куда летит
0,2022-05-01,5N 237,2022-04-30 21:46:20,2022-05-01 00:21:00,B,5N,OVB
1,2022-05-01,5N 237,2022-04-30 21:46:47,2022-05-01 00:21:00,B,5N,OVB
2,2022-05-01,5N 237,2022-04-30 21:47:47,2022-05-01 00:21:00,B,5N,OVB
3,2022-05-01,5N 237,2022-04-30 21:48:20,2022-05-01 00:21:00,B,5N,OVB
4,2022-05-01,5N 237,2022-04-30 21:49:12,2022-05-01 00:21:00,B,5N,OVB

In [90]:
def preprocess_passtream(df: pd.DataFrame) -> pd.DataFrame:
    data = df.copy()

    data["Вход в чистую зону"] = data["Вход в чистую зону"].dt.ceil('30T')
    data["Выход на рейс"] = data["Выход на рейс"].dt.floor('30T')

    data = data[data["Терминал"] == "B"]

    data.drop(columns=["Терминал", "Авиакомпания", "Дата рейса"], inplace=True)

    data.rename(columns={
        "Рейс": "flight", "Вход в чистую зону": "entrance_time",
        "Выход на рейс": "departure_time",
        "Направление куда летит": "destination"
        }, inplace=True)
    
    data.set_index(["entrance_time", "departure_time"], inplace=True)
    data.reset_index(inplace=True)

    return data

In [91]:
def count_passengers(data):
    pass_count = pd.DataFrame({"time": pd.date_range(
        start="2022-05-01 00:00:00", end="2022-05-31 23:30:00", freq="30min"
    )})


    def moment_count(ts: pd.Timestamp):
        return len(data[(data["entrance_time"] <= ts) & (data["departure_time"] >= ts)])
            
    pass_count["num_passengers"] = pass_count.apply(lambda x: moment_count(x["time"]), axis=1)
    
    return pass_count

In [92]:
data = preprocess_passtream(df_temp)
data

            entrance_time      departure_time   flight destination
0     2022-04-30 22:00:00 2022-05-01 00:00:00   5N 237         OVB
1     2022-04-30 22:00:00 2022-05-01 00:00:00   5N 237         OVB
2     2022-04-30 22:00:00 2022-05-01 00:00:00   5N 237         OVB
3     2022-04-30 22:00:00 2022-05-01 00:00:00   5N 237         OVB
4     2022-04-30 22:00:00 2022-05-01 00:00:00   5N 237         OVB
...                   ...                 ...      ...         ...
42346 2022-05-30 23:30:00 2022-05-31 04:00:00  SU 1592         AER
42347 2022-05-30 23:30:00 2022-05-31 04:00:00  SU 1592         AER
42348 2022-05-30 23:30:00 2022-05-31 04:00:00  SU 1592         AER
42349 2022-05-31 00:00:00 2022-05-31 04:00:00  SU 1592         AER
42350 2022-05-30 23:30:00 2022-05-31 15:30:00  SU 1700         VVO

[42351 rows x 4 columns]

In [93]:
pass_count = count_passengers(data)
pass_count.head()

                 time  num_passengers
0 2022-05-01 00:00:00            1707
1 2022-05-01 00:30:00            1124
2 2022-05-01 01:00:00             701
3 2022-05-01 01:30:00             297
4 2022-05-01 02:00:00             148

## Температура в этот день/вечер ⛅ (heat_data)

In [94]:
df_temp = pd.read_excel("heat_05_2022.xlsx")
df_temp

    first  first_in_group  first_in_group 2
0       1              13                10
1       2              14                 9
2       3              18                14
3       4               8                 5
4       5               9                 7
5       6              16                12
6       7              18                15
7       8              19                11
8       9               7                 7
9      10               6                11
10     11              18                12
11     12              22                14
12     13              16                 9
13     14              15                12
14     15              16                12
15     16              13                10
16     17              11                10
17     18              15                11
18     19              14                 9
19     20              12                 9
20     21              15                11
21     22              12                 8
22     23              14                13
23     24               7                 6
24     25              13                10
25     26              20                13
26     27              13                10
27     28              14                10
28     29              11                10
29     30              20                17
30     31              16                16

In [95]:
heat_data = df_temp.rename(columns={
        "first": "day", "first_in_group": "heat_day",
        "first_in_group 2": "heat_night"
        })
heat_data.head()

   day  heat_day  heat_night
0    1        13          10
1    2        14           9
2    3        18          14
3    4         8           5
4    5         9           7

# Преобразование начального датасета 🚧

In [119]:
df_temp = pd.read_excel("05.2022_Выручка.xlsx")
df_temp.head()

,TimeThirty,DAT,Торговая точка,Касса,orgtype,terminal,tzone,TotalSumm
0,2022-05-01 00:00:00.000,2022-05-01,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,755 448
1,2022-05-04 13:30:00.000,2022-05-04,Торговая точка 2373,3114,Общепит,B,Общедоступная зона-вылет,46 800
2,2022-05-05 18:00:00.000,2022-05-05,Торговая точка 8998,9887,Торговля,B,Чистая зона ВВЛ-вылет,160 160
3,2022-05-25 22:00:00.000,2022-05-25,Торговая точка 8313,2251,Общепит,B,Чистая зона ВВЛ-вылет,248 960
4,2022-05-10 00:30:00.000,2022-05-10,Торговая точка 8998,9887,Торговля,B,Чистая зона ВВЛ-вылет,117 600

In [120]:
df_temp.dtypes

TimeThirty        object
DAT               object
Торговая точка    object
Касса              int64
orgtype           object
terminal          object
tzone             object
TotalSumm         object
dtype: object

In [124]:
df_0601 = deepcopy(df_temp[df_temp['Торговая точка'] == "Торговая точка 0601"])
df_0601

,TimeThirty,DAT,Торговая точка,Касса,orgtype,terminal,tzone,TotalSumm
0,2022-05-01 00:00:00.000,2022-05-01,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,755 448
7,2022-05-04 17:30:00.000,2022-05-04,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,"735 549,6"
12,2022-05-04 04:30:00.000,2022-05-04,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,"90 546,4"
40,2022-05-31 01:00:00.000,2022-05-31,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,411 600
43,2022-05-24 05:30:00.000,2022-05-24,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,1 012 096
...,...,...,...,...,...,...,...,...
11814,2022-05-25 17:30:00.000,2022-05-25,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,"885 608,8"
11820,2022-05-20 23:30:00.000,2022-05-20,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,523 096
11821,2022-05-07 06:30:00.000,2022-05-07,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,1 818 016
11827,2022-05-12 14:30:00.000,2022-05-12,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,"948 813,6"
11838,2022-05-28 21:30:00.000,2022-05-28,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,444 800

In [125]:
df_0601['TimeThirty'] = df_0601['TimeThirty'].apply(pd.to_datetime)
df_0601.dtypes

TimeThirty        datetime64[ns]
DAT                       object
Торговая точка            object
Касса                      int64
orgtype                   object
terminal                  object
tzone                     object
TotalSumm                 object
dtype: object

In [128]:
df_0601 = df_0601.sort_values(by=['TimeThirty'])
df_0601

,TimeThirty,DAT,Торговая точка,Касса,orgtype,terminal,tzone,TotalSumm
0,2022-05-01 00:00:00,2022-05-01,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,755 448
2696,2022-05-01 00:30:00,2022-05-01,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,1 298 616
2573,2022-05-01 01:00:00,2022-05-01,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,451 200
11515,2022-05-01 01:30:00,2022-05-01,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,276 000
3370,2022-05-01 02:30:00,2022-05-01,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,68 000
...,...,...,...,...,...,...,...,...
5191,2022-05-31 21:30:00,2022-05-31,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,881 320
696,2022-05-31 22:00:00,2022-05-31,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,"1 568 435,2"
10031,2022-05-31 22:30:00,2022-05-31,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,1 067 360
7747,2022-05-31 23:00:00,2022-05-31,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,"571 071,2"
4056,2022-05-31 23:30:00,2022-05-31,Торговая точка 0601,7683,Общепит,B,Чистая зона ВВЛ-вылет,570 240

In [137]:
df_0601['TotalSumm'].apply(pd.to_numeric)

ValueError: Unable to parse string "755 448" at position 0

In [143]:
for i in df_0601['TotalSumm']:
    print(i)
    print(int(i.split(',')[0].replace(' ','').replace('\xa0','')))

755 448
755448
1 298 616
1298616
451 200
451200
276 000
276000
68 000
68000
182 400
182400
675 120
675120
349 816
349816
1 093 464
1093464
2 308 792,8
2308792
740 825,6
740825
1 538 000
1538000
507 625,6
507625
1 942 877,6
1942877
2 310 200
2310200
1 182 785,6
1182785
2 112 260,8
2112260
1 077 683,2
1077683
93 386,4
93386
998 225,6
998225
1 215 360
1215360
1 355 424
1355424
722 461,6
722461
924 240
924240
1 316 000
1316000
2 860 960
2860960
635 200
635200
135 562,4
135562
144 840
144840
187 368
187368
1 450 199,2
1450199
1 711 484,8
1711484
1 487 743,2
1487743
808 207,2
808207
5 740 761,6
5740761
1 398 616,8
1398616
966 720
966720
396 356
396356
474 400
474400
308 693,6
308693
201 306,4
201306
41 600
41600
195 200
195200
65 600
65600
184 320
184320
519 382,4
519382
806 400
806400
969 992
969992
1 378 153,6
1378153
1 281 487,2
1281487
459 692,8
459692
959 492,8
959492
1 570 696,8
1570696
1 722 984,8
1722984
2 029 200
2029200
1 256 808
1256808
1 735 605,6
1735605
1 087 348,8
1087348
56 412,8
56412
2 398 400
2398400
1 450 691,2
1450691
3 109 407,2
3109407
1 162 236,8
1162236
1 259 744,8
1259744
1 898 620
1898620
1 446 400
1446400
4 032 028,8
4032028
2 374 841,6
2374841
289 656
289656
972 896,8
972896
789 180,8
789180
1 217 784,8
1217784
1 109 102,4
1109102
848 966,4
848966
748 250,4
748250
655 600
655600
1 843 739,2
1843739
583 840
583840
409 600
409600
2 939 454,4
2939454
831 200
831200
1 632 984
1632984
403 600
403600
596 720
596720
622 040
622040
645 956
645956
137 864
137864
36 787,2
36787
16 000
16000
136 000
136000
182 992
182992
865 856
865856
443 200
443200
604 000
604000
669 840,8
669840
1 235 629,6
1235629
1 009 160
1009160
1 214 165,6
1214165
3 819 215,2
3819215
1 474 203,2
1474203
2 229 360,8
2229360
827 338,4
827338
1 884 762,4
1884762
516 800
516800
1 332 808
1332808
1 100 240
1100240
920 744
920744
965 200
965200
998 996
998996
1 306 178,4
1306178
2 029 912
2029912
1 822 000
1822000
2 775 172,8
2775172
1 769 429,6
1769429
1 367 712,8
1367712
2 418 736
2418736
612 242,4
612242
578 800
578800
2 543 464
2543464
1 500 926,4
1500926
938 800
938800
891 536
891536
1 690 326,4
1690326
1 770 000
1770000
231 236
231236
1 769 580
1769580
1 617 562,4
1617562
1 084 184
1084184
792 964
792964
605 052,8
605052
574 400
574400
230 000
230000
850 646,4
850646
210 400
210400
103 600
103600
28 800
28800
29 600
29600
90 546,4
90546
1 469 168
1469168
675 600
675600
1 362 126,4
1362126
922 857,6
922857
1 019 840
1019840
949 550,4
949550
1 108 116,8
1108116
1 575 200
1575200
1 044 738,4
1044738
1 353 886,4
1353886
1 347 631,2
1347631
736 400
736400
1 111 600
1111600
1 897 753,6
1897753
1 416 500
1416500
937 526,4
937526
1 458 588,8
1458588
1 520 180,8
1520180
734 976
734976
716 238,4
716238
1 002 832
1002832
2 800 160
2800160
1 069 616
1069616
827 600
827600
687 890,4
687890
735 549,6
735549
1 482 472
1482472
881 520
881520
902 400
902400
1 847 608
1847608
1 068 464,8
1068464
1 849 844
1849844
815 200
815200
1 193 034,4
1193034
709 600
709600
897 120
897120
1 298 960
1298960
414 400
414400
127 200
127200
218 800
218800
368 800
368800
629 240,8
629240
780 838,4
780838
874 059,2
874059
551 136
551136
1 564 576,8
1564576
1 412 960
1412960
1 832 076
1832076
1 555 943,2
1555943
1 676 863,2
1676863
1 107 536
1107536
734 669,6
734669
685 123,2
685123
1 227 501,6
1227501
619 672,8
619672
681 112
681112
596 990,4
596990
1 233 600
1233600
1 619 092
1619092
985 061,6
985061
1 502 615,2
1502615
713 600
713600
1 945 032
1945032
1 862 989,6
1862989
1 510 610,4
1510610
238 400
238400
219 200
219200
1 594 000
1594000
498 900,8
498900
1 470 800
1470800
1 945 392
1945392
1 805 364
1805364
1 069 600
1069600
555 600
555600
1 213 054,4
1213054
1 046 800
1046800
1 068 080,8
1068080
715 024
715024
1 482 126,4
1482126
388 331,2
388331
421 202,4
421202
171 592
171592
39 200
39200
52 000
52000
134 627,2
134627
424 546,4
424546
1 574 480
1574480
2 776 326,4
2776326
792 800
792800
1 438 579,2
1438579
2 307 040
2307040
2 043 856,8
2043856
1 714 326,4
1714326
2 099 406,4
2099406
4 311 722,4
4311722
1 348 400
1348400
2 239 760
2239760
1 138 658,4
1138658
1 121 937,6
1121937
1 641 376
1641376
1 846 790,4
1846790
1 040 888,8
1040888
2 370 901,6
2370901
2 200 490,4
2200490
2 011 259,2
2011259
2 340 000
2340000
2 388 830,4
2388830
4 807 978,4
4807978
2 320 324
2320324
997 404,8
997404
1 113 600
1113600
2 149 916,8
2149916
2 447 984,8
2447984
1 194 036,8
1194036
2 604 596,8
2604596
3 917 633,6
3917633
1 109 299,2
1109299
2 745 748
2745748
2 472 417,6
2472417
2 553 308
2553308
933 256
933256
1 349 760
1349760
2 403 982,4
2403982
1 000 478,4
1000478
926 198,4
926198
502 659,2
502659
1 078 483,2
1078483
428 000
428000
1 694 480
1694480
1 354 248
1354248
2 289 596,8
2289596
1 818 016
1818016
1 893 886,4
1893886
2 010 250,4
2010250
596 163,2
596163
1 207 756
1207756
1 147 744
1147744
630 936,8
630936
2 162 518,4
2162518
659 403,2
659403
1 498 080
1498080
1 713 264,8
1713264
1 876 114,4
1876114
1 561 252,8
1561252
1 572 640
1572640
3 084 079,2
3084079
1 603 682,4
1603682
2 050 626,4
2050626
1 657 521,6
1657521
2 875 536,8
2875536
1 325 136
1325136
434 200
434200
699 803,2
699803
1 558 050,4
1558050
2 329 951,2
2329951
2 022 788
2022788
1 692 405,6
1692405
1 337 420
1337420
1 563 360
1563360
817 440
817440
1 271 868,8
1271868
484 000
484000
1 242 926,4
1242926
784 320
784320
1 714 840
1714840
862 000
862000
174 104
174104
652 400
652400
556 800
556800
59 520
59520
73 600
73600
12 400
12400
77 600
77600
278 173,6
278173
774 800
774800
799 200
799200
995 429,6
995429
1 900 826,4
1900826
2 375 042,4
2375042
2 568 936
2568936
1 050 911,2
1050911
1 486 397,6
1486397
1 204 517,6
1204517
1 158 000
1158000
2 068 279,2
2068279
886 672,8
886672
920 712
920712
630 952,8
630952
1 479 095,2
1479095
1 194 800
1194800
1 805 840
1805840
1 156 800
1156800
2 943 920
2943920
1 323 866,4
1323866
939 034,4
939034
1 907 920
1907920
940 000
940000
419 200
419200
1 851 216
1851216
280 439,2
280439
2 005 891,2
2005891
669 760
669760
292 400
292400
1 146 067,2
1146067
2 116 000
2116000
710 800
710800
454 136
454136
270 744
270744
981 673,6
981673
495 200
495200
525 632
525632
330 104
330104
1 104 800
1104800
332 400
332400
162 400
162400
390 395,2
390395
118 400
118400
255 852
255852
544 800
544800
140 800
140800
833 600
833600
1 949 920
1949920
1 615 821,6
1615821
910 573,6
910573
1 113 072,8
1113072
552 266,4
552266
418 644
418644
901 734,4
901734
690 560,8
690560
445 600
445600
1 390 452,8
1390452
417 600
417600
1 261 845,6
1261845
1 117 100
1117100
697 712
697712
769 501,6
769501
1 885 704
1885704
1 031 815,2
1031815
1 755 048
1755048
580 889,6
580889
998 880
998880
793 104
793104
1 419 680
1419680
1 534 288,8
1534288
505 200
505200
754 444
754444
1 507 138,4
1507138
1 724 728
1724728
1 268 720
1268720
1 661 183,2
1661183
1 192 344
1192344
631 623,2
631623
977 640
977640
1 392 400
1392400
242 000
242000
1 190 440,8
1190440
378 800
378800
364 800
364800
81 600
81600
182 400
182400
114 000
114000
29 600
29600
126 400
126400
1 224 240
1224240
888 000
888000
481 592
481592
1 102 560
1102560
2 082 441,6
2082441
2 157 794,4
2157794
1 727 524
1727524
1 301 514,4
1301514
2 472 160,8
2472160
1 769 800,8
1769800
714 842,4
714842
2 190 640
2190640
923 158,4
923158
1 612 390,4
1612390
1 696 272,8
1696272
933 800
933800
1 210 824
1210824
1 999 220,8
1999220
1 062 320
1062320
2 410 876
2410876
1 986 017,6
1986017
2 257 912
2257912
1 353 745,6
1353745
1 097 905,6
1097905
927 812
927812
1 123 753,6
1123753
1 913 556,8
1913556
914 750,4
914750
2 209 828,8
2209828
1 678 648
1678648
1 428 734,4
1428734
1 595 624
1595624
1 105 600
1105600
905 619,2
905619
742 720
742720
527 000
527000
1 010 264
1010264
710 400
710400
760 400
760400
644 968
644968
896 400
896400
556 000
556000
74 967,2
74967
508 000
508000
801 820,8
801820
170 800
170800
930 080
930080
496 565,6
496565
2 494 288
2494288
1 190 812
1190812
1 530 048
1530048
1 470 652
1470652
1 851 461,6
1851461
1 426 984
1426984
849 600
849600
609 600
609600
1 888 960
1888960
1 002 000
1002000
808 193,6
808193
921 030,4
921030
1 079 384
1079384
694 400
694400
1 637 576
1637576
2 255 029,6
2255029
1 243 325,6
1243325
1 264 880
1264880
1 772 479,2
1772479
1 481 204
1481204
339 040
339040
1 236 800
1236800
951 120
951120
941 376
941376
673 894,4
673894
473 782,4
473782
1 531 007,2
1531007
483 600
483600
856 931,2
856931
1 368 800
1368800
896 000
896000
1 399 508,8
1399508
973 648
973648
938 728
938728
592 960
592960
256 000
256000
172 080
172080
288 800
288800
1 038 614,4
1038614
793 200
793200
717 600
717600
800 000
800000
1 004 525,6
1004525
1 936 360
1936360
1 136 339,2
1136339
1 019 680,8
1019680
1 580 800
1580800
892 640
892640
199 200
199200
1 249 528
1249528
303 200
303200
950 934,4
950934
1 035 224,8
1035224
457 343,2
457343
193 120
193120
1 469 420,8
1469420
1 006 800
1006800
1 689 964,8
1689964
948 813,6
948813
1 963 154,4
1963154
1 199 200
1199200
124 074,4
124074
1 252 142,4
1252142
754 752
754752
1 187 200
1187200
611 000
611000
968 255,2
968255
1 341 912
1341912
1 999 523,2
1999523
1 231 000,8
1231000
595 136
595136
572 656
572656
984 508,8
984508
425 600
425600
721 600
721600
1 340 480
1340480
1 053 600
1053600
1 547 880
1547880
721 200
721200
183 109,6
183109
44 000
44000
439 200
439200
481 136
481136
5 544
5544
1 014 387,2
1014387
1 643 289,6
1643289
1 272 386,4
1272386
1 287 777,6
1287777
1 704 509,6
1704509
1 501 489,6
1501489
2 197 620
2197620
1 118 946,4
1118946
548 702,4
548702
1 225 360,8
1225360
580 800
580800
1 238 764
1238764
577 600
577600
1 998 592
1998592
1 943 908
1943908
1 644 920
1644920
2 170 461,6
2170461
1 383 608,8
1383608
816 633,6
816633
2 430 392
2430392
2 621 780,8
2621780
1 809 264
1809264
1 990 480
1990480
1 255 200
1255200
1 801 868
1801868
1 235 528
1235528
1 219 537,6
1219537
1 131 708,8
1131708
1 796 754,4
1796754
807 760
807760
888 000
888000
1 602 520,8
1602520
1 567 600
1567600
1 043 600
1043600
1 592 336
1592336
631 920
631920
283 184
283184
553 649,6
553649
393 600
393600
113 600
113600
811 440
811440
524 240
524240
1 029 480
1029480
301 920
301920
1 148 800
1148800
1 659 266,4
1659266
1 633 237,6
1633237
2 756 997,6
2756997
2 618 456,8
2618456
707 200
707200
1 752 488
1752488
839 808
839808
839 439,2
839439
1 092 335,2
1092335
1 448 216
1448216
2 221 478,4
2221478
1 924 000
1924000
894 800
894800
1 011 648
1011648
1 059 472,8
1059472
1 394 648
1394648
1 501 400,8
1501400
2 991 395,2
2991395
1 459 918,4
1459918
833 416
833416
1 125 080
1125080
780 000
780000
713 166,4
713166
865 120
865120
1 557 295,2
1557295
1 847 949,6
1847949
1 467 120
1467120
968 400
968400
1 075 608
1075608
1 466 839,2
1466839
1 261 360
1261360
385 600
385600
843 600
843600
949 872
949872
421 200
421200
513 360
513360
141 877,6
141877
281 600
281600
172 000
172000
307 200
307200
680 400
680400
1 126 766,4
1126766
290 613,6
290613
582 976,8
582976
1 597 833,6
1597833
1 963 117,6
1963117
2 111 904
2111904
2 588 356
2588356
1 575 608
1575608
1 800 610,4
1800610
1 346 738,4
1346738
693 200
693200
951 223,2
951223
509 120
509120
1 760 640
1760640
884 340
884340
1 139 406,4
1139406
1 764 800
1764800
2 406 425,6
2406425
1 626 400
1626400
2 395 763,2
2395763
2 650 324,8
2650324
1 796 412,8
1796412
1 403 216
1403216
583 925,6
583925
1 682 352
1682352
1 441 600
1441600
1 492 010,4
1492010
1 502 856
1502856
1 047 520,8
1047520
1 637 600
1637600
1 067 680
1067680
1 265 520
1265520
1 603 120
1603120
1 551 200
1551200
468 800
468800
982 720
982720
1 170 624
1170624
330 412,8
330412
284 880
284880
120 000
120000
449 520
449520
36 000
36000
35 120
35120
7 920
7920
32 000
32000
540 225,6
540225
631 200
631200
1 220 720
1220720
836 400
836400
1 574 232,8
1574232
1 524 485,6
1524485
2 247 599,2
2247599
609 280
609280
714 989,6
714989
811 200
811200
404 000
404000
722 480
722480
667 607,2
667607
1 030 720
1030720
960 272
960272
1 327 245,6
1327245
546 720
546720
1 310 364
1310364
1 518 114,4
1518114
1 844 697,6
1844697
1 551 173,6
1551173
1 417 920
1417920
1 819 120
1819120
1 281 444,8
1281444
536 800
536800
1 874 320
1874320
370 400
370400
1 717 816,8
1717816
967 920
967920
404 800
404800
1 618 136
1618136
967 248
967248
1 343 816
1343816
338 800
338800
922 720
922720
1 277 364,8
1277364
890 839,2
890839
485 056
485056
535 520
535520
260 800
260800
426 408
426408
260 800
260800
34 400
34400
235 120
235120
85 120
85120
168 800
168800
47 200
47200
100 008,8
100008
1 166 482,4
1166482
773 200
773200
613 200
613200
1 171 280
1171280
1 995 781,6
1995781
1 689 901,6
1689901
1 261 125,6
1261125
1 841 885,6
1841885
1 348 888
1348888
1 273 507,2
1273507
279 424
279424
794 400
794400
867 200
867200
1 243 672
1243672
1 315 920,8
1315920
2 630 831,2
2630831
1 605 536
1605536
1 518 221,6
1518221
985 824
985824
561 128
561128
2 341 875,2
2341875
631 781,6
631781
880 752
880752
1 574 451,2
1574451
991 027,2
991027
313 120
313120
781 486,4
781486
1 523 503,2
1523503
832 000
832000
1 652 796
1652796
1 668 048
1668048
664 552
664552
1 376 000
1376000
952 559,2
952559
327 788
327788
585 600
585600
985 600
985600
2 267 024,8
2267024
208 000
208000
601 135,2
601135
682 091,2
682091
51 200
51200
101 600
101600
72 000
72000
142 400
142400
556 000
556000
758 874,4
758874
681 600
681600
156 265,6
156265
4 439 113,6
4439113
1 449 864
1449864
508 748,8
508748
2 612 476
2612476
1 317 179,2
1317179
657 120
657120
574 810,4
574810

748 000
748000
790 008
790008
444 164,8
444164
1 655 799,2
1655799
454 400
454400
1 288 922,4
1288922
3 199 721,6
3199721
1 595 047,2
1595047
1 147 108,8
1147108
1 288 510,4
1288510
1 556 728
1556728
1 464 328
1464328
891 588,8
891588
168 869,6
168869
1 670 160
1670160
284 561,6
284561
1 843 324
1843324
1 304 176,8
1304176
2 136 043,2
2136043
1 033 600
1033600
1 527 135,2
1527135
1 129 280
1129280
641 200
641200
1 382 241,6
1382241
731 360
731360
843 200
843200
727 496
727496
365 880
365880
171 200
171200
196 556,8
196556
42 000
42000
370 208
370208
90 400
90400
183 200
183200
666 379,2
666379
630 800
630800
1 320 991,2
1320991
688 065,6
688065
1 063 230,4
1063230
815 792
815792
1 803 062,4
1803062
1 786 265,6
1786265
1 463 820
1463820
1 316 872
1316872
836 427,2
836427
1 385 600
1385600
1 112 440
1112440
772 334,4
772334
1 198 400
1198400
2 158 084,8
2158084
900 219,2
900219
2 453 200
2453200
814 152
814152
1 426 552
1426552
1 203 200
1203200
2 601 730,4
2601730
2 674 964
2674964
1 534 160,8
1534160
962 800
962800
703 200
703200
1 287 600
1287600
1 347 113,6
1347113
1 214 836
1214836
1 156 462,4
1156462
207 920
207920
166 640
166640
504 800
504800
911 600
911600
501 456
501456
1 292 375,2
1292375
1 812 942,4
1812942
944 080
944080
692 800
692800
502 638,4
502638
81 603,2
81603
343 200
343200
106 400
106400
222 400
222400
371 200
371200
718 140,8
718140
1 308 680
1308680
1 722 572,8
1722572
1 720 804
1720804
1 144 808
1144808
1 515 599,2
1515599
1 946 259,2
1946259
1 291 199,2
1291199
2 477 912
2477912
845 097,6
845097
972 000
972000
892 000
892000
966 451,2
966451
1 593 866,4
1593866
1 584 288
1584288
1 039 434,4
1039434
1 531 120
1531120
1 538 500,8
1538500
959 383,2
959383
2 021 600
2021600
1 144 104,8
1144104
672 400
672400
2 019 697,6
2019697
1 278 042,4
1278042
1 612 739,2
1612739
566 747,2
566747
1 438 219,2
1438219
1 451 236
1451236
1 885 356,8
1885356
1 642 407,2
1642407
2 923 774,4
2923774
1 269 760
1269760
2 061 240
2061240
1 206 428
1206428
446 858,4
446858
1 465 600
1465600
1 194 400
1194400
766 930,4
766930
523 096
523096
1 167 200
1167200
449 200
449200
1 307 600
1307600
34 400
34400
33 600
33600
51 868
51868
252 000
252000
84 800
84800
381 760
381760
1 398 400
1398400
2 393 920
2393920
657 659,2
657659
1 486 652
1486652
1 545 369,6
1545369
1 669 494,4
1669494
1 729 513,6
1729513
2 275 313,6
2275313
1 793 781,6
1793781
965 152,8
965152
1 314 936
1314936
696 000
696000
529 440
529440
2 964 128
2964128
1 307 115,2
1307115
1 655 640
1655640
1 978 536
1978536
1 764 680
1764680
1 033 663,2
1033663
1 504 864
1504864
1 774 120
1774120
2 189 536
2189536
1 817 923,2
1817923
879 445,6
879445
775 120
775120
2 703 160
2703160
1 006 312
1006312
1 135 600
1135600
1 749 623,2
1749623
1 727 618,4
1727618
1 028 452
1028452
917 760
917760
1 295 816
1295816
990 052,8
990052
1 066 416
1066416
2 283 760
2283760
979 200
979200
527 062,4
527062
1 117 920
1117920
202 208
202208
93 920
93920
514 400
514400
78 000
78000
202 914,4
202914
146 400
146400
1 345 396,8
1345396
1 968 727,2
1968727
773 160
773160
1 673 216,8
1673216
2 211 477,6
2211477
2 507 407,2
2507407
1 390 400
1390400
933 992
933992
1 884 048
1884048
948 538,4
948538
1 386 956,8
1386956
1 263 964,8
1263964
1 546 797,6
1546797
3 048 122,4
3048122
908 442,4
908442
1 796 178,4
1796178
2 120 862,4
2120862
1 925 970,4
1925970
1 299 250,4
1299250
2 313 739,2
2313739
2 748 635,2
2748635
1 332 396,8
1332396
2 107 856
2107856
678 081,6
678081
800 988,8
800988
2 422 785,6
2422785
1 222 637,6
1222637
1 796 928
1796928
2 064 381,6
2064381
1 189 959,2
1189959
1 012 604
1012604
1 916 560
1916560
787 200
787200
644 800
644800
1 208 806,4
1208806
1 767 600
1767600
854 400
854400
575 440
575440
900 560
900560
587 600
587600
210 400
210400
78 800
78800
454 720
454720
780 360
780360
993 716
993716
1 439 432
1439432
1 487 909,6
1487909
1 236 400
1236400
1 434 400
1434400
1 815 614,4
1815614
3 307 076
3307076
974 800
974800
1 122 488
1122488
1 644 416
1644416
1 221 280
1221280
656 237,6
656237
1 895 173,6
1895173
2 368 008
2368008
1 342 481,6
1342481
2 296 753,6
2296753
1 757 200
1757200
1 738 008
1738008
2 312 862,4
2312862
1 422 286,4
1422286
1 911 856
1911856
1 491 120
1491120
1 563 600
1563600
1 731 029,6
1731029
970 640
970640
728 734,4
728734
552 200
552200
1 220 344
1220344
1 049 971,2
1049971
1 805 286,4
1805286
872 360
872360
1 590 800
1590800
1 223 200
1223200
336 800
336800
230 400
230400
276 000
276000
359 200
359200
434 640
434640
97 600
97600
259 730,4
259730
1 319 916
1319916
1 012 096
1012096
995 600
995600
2 383 040
2383040
1 488 923,2
1488923
1 714 442,4
1714442
1 626 012
1626012
615 564,8
615564
1 645 500
1645500
273 008,8
273008
1 063 648,8
1063648
630 377,6
630377
739 444,8
739444
2 496 614,4
2496614
1 315 892,8
1315892
608 629,6
608629
1 164 000
1164000
2 639 535,2
2639535
2 777 831,2
2777831
1 628 000
1628000
854 036
854036
1 404 448
1404448
782 240
782240
175 408
175408
829 832
829832
1 000 480
1000480
724 864
724864
1 343 208
1343208
1 741 160
1741160
939 406,4
939406
864 232,8
864232
1 514 154,4
1514154
732 599,2
732599
823 498,4
823498
728 000
728000
1 115 812
1115812
1 586 678,4
1586678
645 200
645200
1 057 580
1057580
314 400
314400
396 080
396080
76 000
76000
199 200
199200
321 600
321600
830 800
830800
884 400
884400
740 604
740604
1 337 156
1337156
1 872 800
1872800
1 713 783,2
1713783
1 651 776
1651776
2 408 720
2408720
1 071 873,6
1071873
2 041 196
2041196
281 828,8
281828
658 080
658080
1 371 167,2
1371167
1 172 046,4
1172046
631 864
631864
2 393 112
2393112
1 178 040
1178040
1 009 884
1009884
1 606 659,2
1606659
2 350 993,6
2350993
1 509 524
1509524
1 909 435,2
1909435
2 164 243,2
2164243
883 440
883440
1 516 640
1516640
498 400
498400
885 608,8
885608
2 602 808
2602808
1 631 200
1631200
1 517 731,2
1517731
1 939 232
1939232
1 169 618,4
1169618
690 774,4
690774
490 640
490640
1 163 216,8
1163216
242 400
242400
1 846 388,8
1846388
717 120
717120
695 200
695200
968 400
968400
242 400
242400
386 664
386664
245 600
245600
19 200
19200
40 800
40800
935 344
935344
954 796
954796
1 502 524
1502524
1 822 800
1822800
1 388 090,4
1388090
1 713 036
1713036
1 729 216
1729216
2 313 120
2313120
1 253 559,2
1253559
2 337 200
2337200
1 739 420
1739420
956 376
956376
992 599,2
992599
418 800
418800
421 851,2
421851
2 170 454,4
2170454
1 154 820,8
1154820
1 927 920
1927920
2 015 220
2015220
591 169,6
591169
1 847 009,6
1847009
2 562 949,6
2562949
2 957 039,2
2957039
1 860 240
1860240
529 600
529600
820 560
820560
1 574 715,2
1574715
1 360 400
1360400
1 365 641,6
1365641
2 038 520
2038520
2 555 407,2
2555407
417 912
417912
1 049 936
1049936
2 407 366,4
2407366
854 756,8
854756
1 150 436
1150436
1 438 479,2
1438479
1 378 998,4
1378998
340 770,4
340770
1 833 600
1833600
537 840
537840
70 400
70400
101 600
101600
683 200
683200
1 910 000
1910000
1 427 647,2
1427647
2 054 000
2054000
1 599 794,4
1599794
1 478 736
1478736
2 874 760
2874760
2 265 528
2265528
2 064 666,4
2064666
1 885 064
1885064
1 736 381,6
1736381
1 729 968,8
1729968
1 511 000
1511000
1 488 760
1488760
2 005 458,4
2005458
754 400
754400
1 860 216
1860216
2 704 400
2704400
1 432 236,8
1432236
2 162 526,4
2162526
1 905 972
1905972
1 622 956
1622956
2 836 296
2836296
1 969 672
1969672
1 000 000
1000000
1 182 324
1182324
604 564,8
604564
1 567 180,8
1567180
1 645 760
1645760
2 454 453,6
2454453
1 500 286,4
1500286
1 257 686,4
1257686
1 970 288
1970288
1 172 320
1172320
1 856 285,6
1856285
1 480 160
1480160
1 184 754,4
1184754
966 712
966712
598 240
598240
504 448
504448
1 341 600
1341600
465 424
465424
29 600
29600
17 479,2
17479
97 600
97600
265 444,8
265444
557 936
557936
1 015 616
1015616
1 837 288
1837288
1 525 288,8
1525288
1 090 756,8
1090756
1 710 672,8
1710672
2 251 448
2251448
1 888 144
1888144
2 433 956
2433956
2 119 844,8
2119844
2 781 504
2781504
1 801 890,4
1801890
977 550,4
977550
1 205 120,8
1205120
1 489 367,2
1489367
3 153 554,4
3153554
1 302 116
1302116
1 642 515,2
1642515
1 518 554,4
1518554
1 420 800
1420800
1 232 728
1232728
3 033 491,2
3033491
3 608 785,6
3608785
902 673,6
902673
991 040
991040
854 400
854400
835 824
835824
1 538 080
1538080
614 580,8
614580
1 753 911,2
1753911
2 095 008
2095008
1 577 200
1577200
1 345 600
1345600
855 985,6
855985
444 800
444800
1 086 400
1086400
740 400
740400
1 205 695,2
1205695
552 000
552000
541 600
541600
145 600
145600
252 800
252800
60 800
60800
460 000
460000
168 000
168000
3 578,4
3578
500 000
500000
1 098 037,6
1098037
1 326 688
1326688
1 177 421,6
1177421
1 025 337,6
1025337
1 999 800
1999800
1 284 029,6
1284029
2 255 788,8
2255788
1 206 808
1206808
2 209 519,2
2209519
1 143 048
1143048
1 823 471,2
1823471
1 296 304
1296304
1 537 626,4
1537626
1 475 976
1475976
1 393 880
1393880
2 194 572
2194572
1 760 944
1760944
2 018 000
2018000
1 934 416
1934416
457 600
457600
2 016 355,2
2016355
1 828 892,8
1828892
1 904 872
1904872
1 174 048
1174048
942 400
942400
2 817 209,6
2817209
494 377,6
494377
1 777 112
1777112
1 816 650,4
1816650
2 193 444
2193444
2 673 520
2673520
1 464 230,4
1464230
2 007 200
2007200
866 880
866880
1 264 800
1264800
1 132 000
1132000
1 714 320
1714320
550 107,2
550107
296 000
296000
106 400
106400
192 800
192800
150 400
150400
645 600
645600
331 200
331200
336 000
336000
784 800
784800
1 734 656,8
1734656
2 685 036
2685036
1 590 824,8
1590824
1 790 126,4
1790126
1 912 784
1912784
2 158 312
2158312
1 635 327,2
1635327
2 163 864
2163864
654 480
654480
1 258 047,2
1258047
1 636 071,2
1636071
1 983 696,8
1983696
554 320
554320
1 333 200
1333200
1 248 072
1248072
1 220 168,8
1220168
1 561 160
1561160
1 294 136
1294136
1 347 624
1347624
2 429 225,6
2429225
1 506 312
1506312
720 611,2
720611
1 762 742,4
1762742
781 904
781904
2 269 372
2269372
1 058 968,8
1058968
1 650 753,6
1650753
1 171 943,2
1171943
379 424
379424
1 371 439,2
1371439
2 318 720
2318720
624 000
624000
847 200
847200
803 360
803360
1 486 928,8
1486928
1 180 134,4
1180134
485 040
485040
239 869,6
239869
657 161,6
657161
411 600
411600
260 066,4
260066
80 000
80000
199 600
199600
190 400
190400
231 600
231600
1 805 744
1805744
1 689 120
1689120
1 109 080
1109080
1 309 200
1309200
2 095 662,4
2095662
1 662 152
1662152
982 424
982424
1 447 500,8
1447500
1 885 042,4
1885042
524 901,6
524901
1 334 320
1334320
635 200
635200
62 400
62400
733 960
733960
1 886 800
1886800
1 174 800
1174800
1 102 800
1102800
984 248
984248
2 003 368
2003368
1 323 680
1323680
805 806,4
805806
3 147 080
3147080
1 382 400
1382400
1 594 966,4
1594966
526 328
526328
1 832 916
1832916
763 890,4
763890
893 291,2
893291
1 412 192
1412192
1 335 740
1335740
1 690 850,4
1690850
895 200
895200
472 975,2
472975
881 320
881320
1 568 435,2
1568435
1 067 360
1067360
571 071,2
571071
570 240
570240

In [140]:
print([-1] * 10 + list(df_0601['TotalSumm'].apply(lambda x: int(x.replace(' ','').replace('\xa0',''))))) #убрать преобразование

ValueError: invalid literal for int() with base 10: '2308792,8'

In [131]:
for lag in range(48):
    df_0601[f'lag_{lag}'] = [-1] * lag + [df_0601['TotalSumm'][:-lag]]
    print([-1] * lag + [df_0601['TotalSumm'][:-lag]])
df_0601

ValueError: Length of values (1) does not match length of index (1378)

# Проверка

In [97]:
data["flight"].unique()[0].replace(' ','')

'5N237'

In [98]:
#внутренние направления
internal_dest = {
    "ABA", "ADH", "AMV", "DYR", "AAQ", "KVK", "ULAH", "ARH", "ASF", "ACS",
    "UIUB", "BAX", "EGO", "BCX", "UNBI", "UHMK", "BQS", "TGP", "BTK", "BZK",
    "UUA", "UWWB", "ULDW", "VLU", "VUS", "VVO", "OGZ", "UUBL", "VOG", "VGD",
    "VKT", "UUOD", "VOZ", "UUYK", "GDZ", "UNBG", "GRV", "DKS", "SVX", "USSK",
    "EIE", "UEVV", "IWA", "IAA", "IJK", "INA", "IKT", "JOK", "KZN", "KGD",
    "ULDT", "KEJ", "KVX", "KGP", "UHKD", "KXK", "ULPM", "KMW", "KSZ", "KRR",
    "URKN", U"IAE", "KJA", "UNKM", "UWSK", "KRO", "BVV", "URS", "KYZ", "LDG",
    "LPK", "UHMT", "GDX", "GDG", "MQF", "MCX", "ULAE", "MRV", "MJZ", "BKA",
    "VKO", "DME", "UUMO", "UUBW", "СОЦ", "SVO", "MMK", "UHMI", "NYM", "NAL",
    "NNM", "CNN", "UIUN", "NJC", "NBC", "GOJ", "НИК", "NOZ", "UNNE", "OVB",
    "NUX", "NGL", "NSK", "NOJ", "USHN", "OKT", "UNOS", "OMS", "ULAO", "OEL",
    "REN", "OSW", "OHH", "OHO", "PWE", "PEZ", "PEE", "PES", "ULPP", "PKC",
    "PEX", "PVS", "PKV", "ULLP", "RAT", "ROV", "RYB", "RZN", "RZN", "SLY",
    "KUF", "UWWS", "LED", "SKX", "RTW", "UWUA", "LNX", "GVN", "CSH", "AER",
    "STW", "UUOS", "UWUS", "SGC", "SCW", "URRT", "TBW", "UUBN", "UUEM", "IKS",
    "UHPT", "TOX", U"WWT", "TOF", "UNIT", "TYD", U"STL", "TJM", "PYJ", "UUD",
    "UIUW", "ULY", "UWLW", "UKX", "UEMT", "USK", "UFA", "UCT", "UHHT", "KHV",
    "UEMH", "HMA", "ХАУ", "HTG", "VLK", "UIAR", "CSY", "CEK", "CEE", "CYX",
    "HTA", "CKH", "EKS", "CKL", "ESL", "DEE", "UUS", "YKS", "USMY", "UUBX", "IAR"
}

In [99]:
for i in data["destination"].unique():
    print(i in internal_dest)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
False
True
True
True
True
True
True
True
True
True
True
True
False
True
True
True

In [115]:
(pass_count['time'].apply(lambda x: x.hour) > 1) & (pass_count['time'].apply(lambda x: x.hour) < 23)

0       False
1       False
2       False
3       False
4        True
        ...
1483     True
1484     True
1485     True
1486    False
1487    False
Name: time, Length: 1488, dtype: bool